# =========================
# SERVER
# =========================
PORT=3175
NODE_ENV=development
API_PREFIX=api

# =========================
# DATABASE (PostgreSQL - Docker local)
# =========================
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=db_postgres

# =========================
# pgAdmin
# =========================
PG_ADMIN_EMAIL=admin@admin.com
PG_ADMIN_PASSWORD=admin
PG_ADMIN_PORT=5050

# =========================
# JWT
# =========================
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=your_refresh_secret
JWT_REFRESH_EXPIRES_IN=30d

# =========================
# SECURITY
# =========================
BCRYPT_ROUNDS=10
THROTTLE_TTL=60
THROTTLE_LIMIT=100

# CORS
CORS_ORIGINS=http://localhost:4200

# =========================
# REDIS (optional)
# =========================
REDIS_HOST=localhost
REDIS_PORT=6379

# =========================
# MINIO
# =========================
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

# =========================
# STORAGE (S3-compatible)
# =========================
STORAGE_ACCOUNT_ID=dummy # optional, use for Cloudflare
STORAGE_ACCESS_KEY_ID=minioadmin
STORAGE_SECRET_ACCESS_KEY=minioadmin
STORAGE_BUCKET_NAME=hr-tech-dev
STORAGE_PUBLIC_URL=http://localhost:9000/hr-tech-dev
STORAGE_ENDPOINT=http://localhost:9000 # optional, do not use for Cloudflare

# =========================
# SMTP Configuration (Gmail)
# =========================
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM_EMAIL=your-email@gmail.com
SMTP_FROM_NAME=SaaS Platform
# Frontend URL
FRONTEND_URL=http://localhost:3000