# SERVER
PORT=3175
NODE_ENV=development
API_PREFIX=api

# PostgreSQL
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=db_postgres
DB_PORT=5432

# pgAdmin
PG_ADMIN_EMAIL=admin@admin.com
PG_ADMIN_PASSWORD=admin
PG_ADMIN_PORT=5050

# JWT
JWT_SECRET=super-secret-key-change-this
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=refresh-secret-key-change-this
JWT_REFRESH_EXPIRES_IN=30d

# SECURITY
BCRYPT_ROUNDS=10
THROTTLE_TTL=60
THROTTLE_LIMIT=100
CORS_ORIGINS=*

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379

# CLOUDFLARE R2 STORAGE
CLOUDFLARE_ACCOUNT_ID=your_account_id
CLOUDFLARE_ACCESS_KEY_ID=your_access_key
CLOUDFLARE_SECRET_ACCESS_KEY=your_secret_key
CLOUDFLARE_BUCKET_NAME=your-bucket-name
CLOUDFLARE_PUBLIC_URL=your_public_https_url